.card-container {
  display: flex;
  flex-direction: column;
  background-color: #00c076;
  border-radius: 10px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  backface-visibility: hidden;
}

.card-container img {
  max-width: 100%;
  display: block;
  height: auto;
}

@media only screen and (min-width: 1600px) {
  .card-container img {
    padding: 0 15% 0 15%;
  }
}

.card-container:hover {
  transform: scale(1.05);
}
